<h3><%= @news.title %></h3>
<p><%= @news.datetime.strftime('%d.%m.%Y') %></p>
<div>
  <% @news.content.split("\r\n").each do |p| %>
      <p><%= p %></p>
  <% end %>
</div>
<% if admin? %>
    <a class="button" href="/news/edit/<%= @news.id %>">Редактировать</a>
    <a class="button" href="/news/delete/<%= @news.id %>">Удалить</a>
<% end %>